# Origines autorisées pour CORS
ALLOWED_ORIGINS=

# Ports
GATEWAY_PORT=
USER_SERVICE_PORT=
PUBLIC_API_PORT=

VITE_API_GATEWAY_URL=

# Prisma SQLite (persisté via volume)
DATABASE_URL=

# Secret
JWT_SECRET=
